echo "auth_db_data/" >> .gitignore
echo "order-service/order_db_data/" >> .gitignore
echo "order-service/db_data/" >> .gitignore
echo "order_db_data/" >> .gitignore
echo "auth-service/auth_db_data/" >> .gitignore
echo "auth-service/db_data/" >> .gitignore
echo "mongo_data/" >> .gitignore
echo "product-service/mongo_data/" >> .gitignore